.clock-component{
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  background-color:#ebf6fd;
  border-bottom-color: #d3d4d5;
  border-bottom-style: solid;
  display: flex;
  justify-content: center;
  padding: 5px;
}

#main-content label{
  float: left;
  font-size: 1.2em;
}

#clock-out-time{
  font-size: 2em;
}
